<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>enemy3_att1.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,102},{83,118}}</string>
                <key>offset</key>
                <string>{51,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,0},{83,118}}</string>
                <key>sourceSize</key>
                <string>{257,136}</string>
            </dict>
            <key>enemy3_att2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,206},{127,134}}</string>
                <key>offset</key>
                <string>{65,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,2},{127,134}}</string>
                <key>sourceSize</key>
                <string>{257,136}</string>
            </dict>
            <key>enemy3_att3.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,220},{97,106}}</string>
                <key>offset</key>
                <string>{39,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,9},{97,106}}</string>
                <key>sourceSize</key>
                <string>{257,136}</string>
            </dict>
            <key>enemy3_att4.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,317},{101,102}}</string>
                <key>offset</key>
                <string>{37,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,10},{101,102}}</string>
                <key>sourceSize</key>
                <string>{257,136}</string>
            </dict>
            <key>enemy3_att5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,418},{91,98}}</string>
                <key>offset</key>
                <string>{43,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,10},{91,98}}</string>
                <key>sourceSize</key>
                <string>{257,136}</string>
            </dict>
            <key>enemy3_att6.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,418},{87,96}}</string>
                <key>offset</key>
                <string>{43,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,10},{87,96}}</string>
                <key>sourceSize</key>
                <string>{257,136}</string>
            </dict>
            <key>enemy3_att7.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,102},{171,104}}</string>
                <key>offset</key>
                <string>{15,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,4},{171,104}}</string>
                <key>sourceSize</key>
                <string>{257,136}</string>
            </dict>
            <key>enemy3_att8.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{223,102}}</string>
                <key>offset</key>
                <string>{-17,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{223,102}}</string>
                <key>sourceSize</key>
                <string>{257,136}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>enemy3_att.png</string>
            <key>size</key>
            <string>{254,509}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6587e038a497b648ed5d30760c23346b$</string>
            <key>textureFileName</key>
            <string>enemy3_att.png</string>
        </dict>
    </dict>
</plist>
