<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jump1.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,0},{91,89}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,15},{91,89}}</string>
                <key>sourceSize</key>
                <string>{115,117}</string>
            </dict>
            <key>jump11.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,0},{91,89}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,15},{91,89}}</string>
                <key>sourceSize</key>
                <string>{115,117}</string>
            </dict>
            <key>jump12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{73,115}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,2},{73,115}}</string>
                <key>sourceSize</key>
                <string>{115,117}</string>
            </dict>
            <key>jump13.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,0},{95,85}}</string>
                <key>offset</key>
                <string>{10,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,21},{95,85}}</string>
                <key>sourceSize</key>
                <string>{115,117}</string>
            </dict>
            <key>jump14.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,0},{101,99}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,7},{101,99}}</string>
                <key>sourceSize</key>
                <string>{115,117}</string>
            </dict>
            <key>jump15.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,0},{81,83}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,23},{81,83}}</string>
                <key>sourceSize</key>
                <string>{115,117}</string>
            </dict>
            <key>jump16.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,0},{105,75}}</string>
                <key>offset</key>
                <string>{5,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,31},{105,75}}</string>
                <key>sourceSize</key>
                <string>{115,117}</string>
            </dict>
            <key>jump17.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,0},{85,105}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,1},{85,105}}</string>
                <key>sourceSize</key>
                <string>{115,117}</string>
            </dict>
            <key>jump18.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,0},{85,107}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{85,107}}</string>
                <key>sourceSize</key>
                <string>{115,117}</string>
            </dict>
            <key>jump2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{73,115}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,2},{73,115}}</string>
                <key>sourceSize</key>
                <string>{115,117}</string>
            </dict>
            <key>jump3.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,0},{85,105}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,1},{85,105}}</string>
                <key>sourceSize</key>
                <string>{115,117}</string>
            </dict>
            <key>jump4.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,0},{85,107}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{85,107}}</string>
                <key>sourceSize</key>
                <string>{115,117}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jump.png</string>
            <key>size</key>
            <string>{672,115}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:15234488237209479a44ae3ac56adee6$</string>
            <key>textureFileName</key>
            <string>jump.png</string>
        </dict>
    </dict>
</plist>
